.body {
  padding: 20px;
}

.listagem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.detalhes {
  display: flex;
  align-items: center;
}

.pizza {
  margin-left: 10px;
}

.pizza h4 {
  margin: 0;
  font-size: 16px;
}

.pizza p {
  margin: 0;
  font-size: 14px;
}

.foto-pizza {
  max-width: 50px;
  max-height: 50px;
}

.foto-pizza img {
  width: 80%;
  height: 80%;
  margin-right: 5px;
  object-fit: contain;
}

.seta i {
  color: #000;
}

.listagem:last-child {
  border-bottom: none;
}
