<div class="logo">
  <img src="assets/img/logo.png" alt="Logo Pizzaria">
</div>

<div class="header">
  <h3 class="titulo">Bem-Vindo à COMTH!</h3>
  <p class="subtitulo">Faça seu pedido online de forma rápida e fácil.</p>
</div>

<div class="explicacao">
  <h3 class="titulo">Sobre a Pizza!</h3>
  <p>Trabalhamos com a massa de longa fermentação (24hrs a 48hrs), sendo de tamanho único (30cm) e de 6 fatias, recomendado até 2 pessoas, e trabalhamos com delivery e retirada.</p>
</div>

<div class="body">
  <a class="cardapio" (click)="onClickNavigateByCardapio()">
    <div class="imagem-cardapio">
      <img src="assets/img/maoPizza.png">
    </div>
    <div class="texto-cardapio">
      <p>Cardápio</p>
    </div>
  </a>
  <a class="pedidos" href="https://delivery.yooga.app/comth-pizza" target="_blank">
    <div class="texto-pedidos">
      <p>Fazer Pedido</p>
    </div>
  </a>
  <a class="ifood" href="https://www.ifood.com.br/delivery/vila-velha-es/comth-pizza-santa-ines/533a6d42-d17f-42e4-947f-b8b40e4f2277" target="_blank">
    <div class="imagem-cardapio">
      <img src="assets/img/homemPizza.png">
    </div>
    <div class="texto-ifood">
      <p>Ir no Ifood</p>
    </div>
  </a>
  <a class="whatsapp" href="https://wa.me/27992579311?text=Olá%20gostaria%20de%20fazer%20um%20pedido%20pelo%20WhatsApp!" target="_blank">
    <div class="texto-whatsapp">
      <p>Fale Conosco</p>
    </div>
  </a>
</div>

<div class="footer">
  <div class="sobre-nos">
      <h4>Sobre Nós</h4>
      <p>A Pizzaria COMTH, liderada por Thiago Freire, é sinônimo de tradição e qualidade. Servimos as melhores pizzas da região, com ingredientes frescos e um toque de paixão em cada fatia. Venha nos visitar ou faça seu pedido online!</p>
  </div>

  <div class="contatos">
      <h4>Contatos</h4>
      <p>Email: <a href="mailto:comthempresa&#64;gmail.com">comthempresa&#64;gmail.com</a></p>
  </div>

  <div class="localizacao">
      <h4>Localização</h4>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3740.871457892022!2d-40.31561552397249!3d-20.34692825142842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xb83dd39dddac35%3A0x9c7a078881a8050!2sR.%20S%C3%A3o%20Mateus%2C%20138%20-%20Santa%20In%C3%AAs%2C%20Vila%20Velha%20-%20ES%2C%2029108-050!5e0!3m2!1spt-BR!2sbr!4v1725305965748!5m2!1spt-BR!2sbr"
        width="300"
        height="200"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
  </div>
</div>
