<div class="logo">
  <img src="assets/img/logo.png" alt="Logo Pizzaria">
</div>

<div class="header">
  <h3 class="titulo">Bem-Vindo à COMTH!</h3>
  <h4 class="subtitulo">Faça seu pedido online de forma rápida e fácil.</h4>
</div>

<div class="body">
  <a class="cardapio" (click)="onClickNavigateByCardapio()">
    <div class="imagem-cardapio">
      <img src="assets/img/maoPizza.png">
    </div>
    <div class="texto-cardapio">
      <p>Cardápio</p>
    </div>
  </a>
  <a class="pedidos" href="https://delivery.yooga.app/comth-pizza">
    <div class="texto-pedidos">
      <p>Fazer Pedido</p>
    </div>
  </a>
</div>
